<div class="title">
  Serwis aukcyjny
</div>

<div style="margin: 20px;">
  <div>
    <input type="text" placeholder="wyszukaj" class="browser">
  </div>
  <div>
    <input type="text" placeholder="województwo" class="lokalizacja">
  </div>
  <div>
    <input type="text" placeholder="miasto" class="lokalizacja" [(ngModel)]="text">
  </div>
  <div class="roboczy">
  </div>
</div>

<div class="kategorie">
  <div>Kategorie</div>
  <!-- <button (click)="click()">button</button> -->
  <span *ngFor="let cat of arrayOfCategories"> {{cat}} </span>
</div>
<div class="promotion">
  Ogłoszenie promowane w {{localization}}
</div>