.title {

  font-size: 30px;
text-align: center;
box-sizing: border-box;
margin: 10px;
}


.kategorie{
  position: relative;
  top: 50px;
 margin: 10px;
 text-align: center;
 font-size: 30px;
}
.promotion{
  position: relative;
  top:100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
.category {
  color: blue;
  position: relative;
  margin: 10px;
  top:20px;
  line-height: 200%;
}
.category:hover{
  color:blueviolet;
  cursor: pointer;
}

