<div *ngIf="displayLoginPanel" id="panel">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <label for="email">email:</label>
    <input type="text" id="email" [(ngModel)]="userEmail" name="email" required email>
    <label for="password">Hasło:</label>
    <input type="password" id="password" [(ngModel)]="userPassword" name="password" required minlength=6>
    <div id="lower">
      <button (click)="authorize()" type="submit" class="submit" [disabled]="authForm.invalid">Login</button>
      <button (click)="moveToRegister()" type="submit" class="submit" style="margin-left: 10%;">Register</button>
    </div>
  </form>
  <p>{{message}}</p>
</div>
<header *ngIf="!displayLoginPanel">Jesteś już zalogowany jako: {{loggedInUserName}}</header>