<button (click)="button()">button</button>

<div style="background-color:#e2e2e2">

  <input type="file">

  <form #firstForm="ngForm" (ngSubmit)="onSubmit(firstForm)" enctype="multipart/form-data">

    <div class="title">

      <mat-form-field style="position: relative; left: 10px; top:10px; width: 250px;">
        <mat-label>Tytuł</mat-label>
        <input matInput size="100px" type="text" minlength=6 id="title" name="title" ngModel required>
        <mat-hint>minimum 6 znaków</mat-hint>
      </mat-form-field>

      <mat-form-field style="position: relative; left: 200px; top: 15px;">
        <mat-label>Kategoria: </mat-label>
        <mat-select name="category" ngModel>
          <mat-option [(value)]="optionsArray[i]" *ngFor="let cat of optionsArray; let i = index" required>{{cat}}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Opis: </mat-label>
        <textarea matInput maxlength=500; #description ngModel name="description"></textarea>
        <mat-hint align="start"></mat-hint>
        <mat-hint align="end">{{description.value.length}}/100</mat-hint>
      </mat-form-field>
    </div>
    <button type="button" (click)="shouldDisplaySomething()">display</button>
    <div *ngIf="displaySomething">tetetetetete</div>
    <div style="margin:50px">Dodaj zdjęcia

      <div #el *ngFor="let qwe of howManyImages; let i=index" [attr.data-index]="i">
        <app-display-image (exportingArray)="import($event, el)">
        </app-display-image>
        <p *ngIf="uploadMessage">{{uploadMessage}}</p>
      </div>
      <!-- <button type="button" (click)="kliknij()">kliknij</button> -->

    </div>
    <div style="clear: both;">
      <label for="minPrice">wpisz kwotę minimalną</label>
      <input type="number" id="minPrice" name="minPrice" ngModel>
    </div>
    <div>
      <label for="buyNowPrice"> wpisz kwotę Kup Teraz</label>
      <input type="number" id="buyNowPrice" name="buyNowPrice" ngModel>
    </div>
    <div style="margin: 20px;">
      <div style="margin: 20px">
        <label style="margin:10px"> Podaj adres </label>
      </div>
      <label for="county"> województwo</label>
      <input type="text" name="county" id="county" ngModel [(ngModel)]="county">
    </div>
    <div>
      <label for="city">miasto</label>
      <input type="text" name="city" id="city" ngModel [(ngModel)]="city">
    </div>
    <!-- <div>
      <label for="postCode">kod pocztowy</label>
      <input type="text" name="postCode" id="postCode" [(ngModel)]="postCode">
    </div> -->
    <div>
      <label for="wybor2id">Czy ogłoszenie ma być promowane?</label>
      <input type="checkbox" id="wybor2id" name="promoted" ngModel>
    </div>
    <div>Standardowo aukcja wystawiana jest na okres 2 tygodni z możliwością przedłużenia</div>
    <button type="submit" style="height: 20px; width: 50px;">Dodaj ogłoszenie</button>
  </form>

</div>
<div>
  <mat-form-field>
    <mat-label>Opis: </mat-label>
    <textarea matInput maxlength=500; #description ngModel name="description"></textarea>
    <mat-hint align="start"></mat-hint>
    <mat-hint align="end">{{description.value.length}}/100</mat-hint>
  </mat-form-field>
</div>