.title{
  position: relative;
  
  width: 80%;
  height: 100px;
  margin: 20px;
  background-color:lightsteelblue;
  margin-left: auto;
  margin-right: auto;
}

.image{
  float: left;
  width:100px;
  height: 100px;
  border-color: royalblue;
  background-color: white;
  margin: 10px;
}
