<div style="position: relative; background-color:blanchedalmond; height: 150px;">

  <div style="position: relative; height=100%">
    <img [src]="mainImage" width="200px" height="150px" class="image">
    <h2 class="title">{{title}}</h2>
    <button mat-fab class="observe"
      style="position: relative; float: right; bottom: 30px; right: 200px;">Obserwuj</button>
    <h5 style="position: relative; top:80px; left:5px">data wystawienia aukcji: {{dateOfStart}}</h5>
    <span style=" left:5px; font-family: cursive;" class="additionalData">aukcja wystawiona przez </span>
    <span style=" left: 8px; font-family: cursive; font-weight: bold;" class="additionalDataRouting">
      {{auctionOwner}}</span><br>
    <span class="additionalData" style="left: 5px;">obserwowana przez</span>
    <span class="additionalData" style="left: 8px; font-weight: bold;">21</span><span class="additionalData"
      style="left: 11px">użytkowników</span>
    <h4 style="float:right; position: relative; right: -20px; bottom: 80px; font-style: italic;">cena aktualna:
      {{minPrice}} </h4>
    <button mat-raised-button style="position: relative; float: right; right: -140px; bottom: 50px;">Lictuj!</button>
    <button mat-raised-button style="position: relative; float: right; right: -210px; bottom: -10px ">Kup Teraz za
      {{buyNowPrice}}
      zł!</button>
  </div>

</div>