.observe{
  font-size: 14px;
  position: relative;
  font-style: italic;
  float: left;
  left: 3px;
  bottom: 40px;
}
.image{
  float: left;
}
.image:hover{
  cursor: pointer;
}
.title{
  position: relative;
   left: 10px;
}
.title:hover{
  color:rebeccapurple;
  cursor: pointer;
}