<div style="background-color: #0d1072; position: relative;">
  <button routerLink="/mainpage" mat-flat-button class="button">Strona główna</button>
  <mat-menu #userPanel="matMenu">
    <button routerLink="/logg" mat-menu-item>zaloguj</button>
    <button routerLink="/addauction" mat-menu-item>dodaj aukcję</button>
    <button routerLink="/myAuctions" mat-menu-item>moje aukcje</button>
    <button mat-menu-item (click)="logOut()">wyloguj</button>
  </mat-menu>

  <button mat-flat-button [matMenuTriggerFor]="userPanel" class="button">panel
    użytkownika</button>
  <mat-menu #adminPanel="matMenu">
    <button routerLink="/admin" mat-menu-item>dodaj kategorię</button>
    <button mat-menu-item>usuń aukcję</button>
  </mat-menu>

  <button *ngIf="showDisplayAdminPanel()" mat-flat-button [matMenuTriggerFor]="adminPanel" class="button">panel
    admina</button>

</div>
<router-outlet></router-outlet>